{% extends 'base.html' %}
{% block title %}
Список курсов
{% endblock %}
{% block content%}
	<div class="about">
		<h1>Список курсов</h1>
		<ul>
			{% for item in objects_list %}
			<li>
				{{item.name}} (Категория: {{ item.category.name }} )
			</li>
			{% endfor %}
		</ul>
		<!--<h1>Добро пожаловать в салон красоты Beauty Style</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat esse delectus
		deserunt placeat, vero quae reprehenderit tenetur? Impedit voluptatem asperiores,
		commodi, quae cum vero optio, beatae quas suscipit nihil, deleniti itaque placeat iure
		recusandae? Modi ex soluta totam, excepturi quidem suscipit. Nesciunt delectus, velit excepturi minus deserunt consequuntur saepe quis ullam, voluptatum repudiandae nulla praesentium laborum libero error eum amet maiores illum laboriosam quos reiciendis harum officia. Corporis minus saepe error veritatis reiciendis. Accusantium nemo doloribus commodi, ut. Ea culpa odit incidunt tenetur delectus, quam vel laudantium ducimus non quaerat quos quisquam ut? Rem natus numquam saepe similique, error repellendus!</p>-->
	</div>
	<!--<div class="cont">
		<h1>Наши услуги</h1>
	</div>
	<div class="main">
		<div class="box">
			<a href="price.html#anchor_female" alt="">
			<img src="../static/img/female.png" alt=""></a>
			<p>Женские стрижки</p>
		</div>
		<div class="box">
			<a href="price.html#anchor_ukladka" alt=""><img src="../static/img/ukladka.png" alt=""></a>
			<p>Укладка</p>
		</div>
		<div class="box">
			<a href="price.html#anchor_okras" alt=""><img src="../static/img/okras.png" alt=""></a>
			<p>Окраска любой сложности</p>
		</div>
		<div class="box">
			<a href="price.html#anchor_laminir" alt=""><img src="../static/img/laminir.png" alt=""></a>
			<p>Лечение, биоинкрустация волос, ламинирование</p>
		</div>
		<div class="box">
			<a href="price.html#anchor_male" alt=""><img src="../static/img/male.png" alt=""></a>
			<p>Мужские стрижки</p>
		</div>
		<div class="box">
			<a href="price.html#anchor_child" alt=""><img src="../static/img/child.png" alt=""></a>
			<p>Детские стрижки</p>
		</div>
		<div class="box">
			<a href="price.html#anchor_tat" alt=""><img src="../static/img/tat.png" alt=""></a>
			<p>Услуги мастера перманентного макияжа</p>
		</div>
		<div class="box">
			<a href="price.html#anchor_lash" alt=""><img src="../static/img/lesh.png" alt=""></a>
			<p>Услуги лешмейкера</p>
		</div>
	</div>
	<hr>
	<div class="cont">
		<h1>Наши мастера</h1>
	</div>
	<div class="masters">
		<div class="photo">
			<img src="../static/img/1.png" alt="">
			<h2>Оксана</h2>
			<h3>Парикмахер-стилист</h3>
			<p class="masters_text">Я очень люблю свою профессию, потому что я люблю создавать креативные прически, подчеркивая индивидуальный стиль, природную красоту и делая людей красивее и счастливее.  В данной сфере я работаю уже более 10 лет и за это время получила огромный опыт работы с различными материалами.<br>
			Мастер-универсал. Люблю модные и современные мужские стрижки и укладки. Женские короткие, креативные стрижки и легкие слоистые формы. Владею основными модными техниками окрашивания: «айртач», «шатуш», но и классическое мелирование тоже люблю. Нравятся сложные  и трудоемкие работы (снятие цвета, осветление и т.д.). </p>
		</div>
		<div class="photo">
			<img src="../static/img/2.png" alt="">
			<h2>Юлия</h2>
			<h3>Lashmaker-стилист</h3>
			<p class="masters_text">Я творческий человек по натуре и поэтому выбрала себе данную профессию. Глаза – зеркало души и мне нравится подчеркивать глаза, делать их более выразительными. Всегда прислушиваюсь к желаниям клиентам и стараюсь реализовать  желаемый образ.</p>
		</div>
	</div>
	<div class="top_up">&lt;</div>-->
{% endblock %}
