{% extends 'base.html' %}
{% block content %}
	<div class="portfolio">
		<div class="portfolio_block">
			<h2 id="anchor_female">Стрижка женская</h2>
			<div class="portfolio_container">
				<div><img src="../static/img/female1.png" alt=""></div>
				<div><img src="../static/img/female.png" alt=""></div>
				<div><img src="../static/img/female2.png" alt=""></div>
			</div>
		</div>
		<div class="portfolio_block">
			<h2 id="anchor_ukladka">Укладка</h2>
			<div class="portfolio_container">
				<div><img src="../static/img/ukladka1.png" alt=""></div>
				<div><img src="../static/img/ukladka2.png" alt=""></div>
				<div><img src="../static/img/ukladka.png" alt=""></div>
			</div>
		</div>
		<div class="portfolio_block">
			<h2 id="anchor_okras">Окраска любой сложности</h2>
			<div class="portfolio_container">
				<div><img src="../static/img/okras2.png" alt=""></div>
				<div><img src="../static/img/okras.png" alt=""></div>
				<div><img src="../static/img/okras1.png" alt=""></div>
			</div>
		</div>
		<div class="portfolio_block">
			<h2 id="anchor_laminir">Лечение, биоинкрустация волос, ламинирование</h2>
			<div class="portfolio_container">
				<div><img src="../static/img/laminir.png" alt=""></div>
				<div><img src="../static/img/laminir1.png" alt=""></div>
				<div><img src="../static/img/laminir2.png" alt=""></div>
			</div>
		</div>
		<div class="portfolio_block">
			<h2 id="anchor_male">Мужские стрижки</h2>
			<div class="portfolio_container">
				<div><img src="../static/img/male.png" alt=""></div>
				<div><img src="../static/img/male1.png" alt=""></div>
				<div><img src="../static/img/male2.png" alt=""></div>
			</div>
		</div>
		<div class="portfolio_block">
			<h2 id="anchor_child">Детские стрижки</h2>
			<div class="portfolio_container">
				<div><img src="../static/img/child.png" alt=""></div>
				<div><img src="../static/img/child1.png" alt=""></div>
				<div><img src="../static/img/child2.png" alt=""></div>
			</div>
		</div>
		<div class="portfolio_block">
			<h2 id="anchor_tat">Услуги перманентного макияжа</h2>
			<div class="portfolio_container">
				<div><img src="../static/img/tat2.png" alt=""></div>
				<div><img src="../static/img/tat1.png" alt=""></div>
				<div><img src="../static/img/tat.png" alt=""></div>
			</div>
		</div>
		<div class="portfolio_block">
			<h2 id="anchor_lash">Услуги лешмейкера</h2>
			<div class="portfolio_container">
				<div><img src="../static/img/lesh2.png" alt=""></div>
				<div><img src="../static/img/lesh.png" alt=""></div>
				<div><img src="../static/img/lesh1.png" alt=""></div>
			</div>
		</div>
	</div>
	<div class="top_up">&lt;</div>
{% endblock %}