{% extends 'base.html' %}
{% block content %}
	<div class="price">
		{% for el in data_json %}
		<div class="price_block">
			<h2 id="anchor_female">{{ el.service }}</h2>
			<div class="price_container">
				<div><img src="{{ el.img }}" alt=""></div>
				<p>Наши мастера подберут вам индивидуальную стрижку, которая подчеркнет вашу индивидуальность и неповторимость. Любые виды причесок.</p>
			</div>
			<p id="price_text"><strong>Стоимость стрижки от {{ el.price }} руб.</strong></p>
		</div>
		{% endfor %}
	</div>
	<div class="top_up"></div>
{% endblock %}